<header>
    <div class="top-section">
        <div class="first-half">
            <h2><a href="\listing">MOVIE STORE</a></h2>
        </div>
        <div class="second-half">
            <ul class="navigation">
                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-phone"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="banner-section">
          <video autoplay [muted]="'muted'" loop id="myVideo">
            <source src="./../assets/Movie.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>    
        <div class="mygradient">
            <!-- class to set gradient-->
        </div>
        <div class="banner-text">
            <p>Welcome to Movie Store</p>
            <button (click)="myroute()" type="button">Explore</button>
        </div>
    </div>
</header>

