<footer id="footer">
    <div class="first-block">
        <p class="second-heading">Address</p>
        <p class="sub-text"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Admin : Delhi, India <br><br></p>
        <p class="sub-text"><i class="fa fa-phone"></i>&nbsp;Telephone : +91-88888888</p>
        
    </div>
    <div class="second-block">
        <ul>
            <li class="second-heading">Follow Us <br><br></li>
            <li class="sub-text"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="sub-text"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="sub-text"><a href="#"><i class="fa fa-phone"></i></a></li>
            <li class="sub-text"><a href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
</footer>
