
    <div class="checkout">
        <div class="section-heading">
        <h1>CHECKOUT</h1>
        <h2><i class="fa fa-angle-double-left"></i><a href="/listing">Back to Home</a></h2>
        </div>
        <div class="card">
        <form [formGroup]="checkoutForm" (ngSubmit)="dosubmit()">
            <label class="title" for="person-name">Name on the Card</label>
            <input name="person-name" type="text" placeholder="Enter the Name" autocomplete="off" maxlength="30" formControlName="personName">
            <span *ngIf="checkoutForm.get('personName')!.touched && checkoutForm.get('personName')!.hasError('required')">Name field is required!</span>
            <span *ngIf="checkoutForm.get('personName')!.touched && checkoutForm.get('personName')!.hasError('pattern')">Name field is not in correct format!</span>
            <span *ngIf="checkoutForm.get('personName')!.touched && checkoutForm.get('personName')!.hasError('maxlength')">Name field should be smaller than 30 digits!</span><br>
            <label class="title" for="card-number">Card Number</label>
            <input name="card-number" type="number" placeholder="Enter the Card Number" formControlName="cardNumber" >
            <span *ngIf="checkoutForm.get('cardNumber')!.touched && checkoutForm.get('cardNumber')!.hasError('required')">Card Number field is required!</span>
            <span *ngIf="checkoutForm.get('cardNumber')!.touched && checkoutForm.get('cardNumber')!.hasError('pattern')">Card number should be of 16 digits!</span><br>
            <label class="title"for="cvc">CVC </label>
            <input name="cvc" type="number" placeholder="Enter the CVC Number" formControlName="cvc" >
            <span *ngIf="checkoutForm.get('cvc')!.touched && checkoutForm.get('cvc')!.hasError('required')">CVC Number field is required!</span>
            <span *ngIf="checkoutForm.get('cvc')!.touched && checkoutForm.get('cvc')!.hasError('pattern')">CVC number should be of 3 digits!</span><br>
            <label class="title" for="expiration">Expiration</label>
            <div class="expiration" formArrayName="expiration">
            <div [formGroupName]="0" >
            <select name="Month" formControlName="month">
                <option value="">- Month -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select name ="Year" formControlName="year">
                <option value="">- Year -</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
            </select>
            </div>
            </div><br/>
            
            <label >Total : <span>&#8377;</span> {{movies.price + movies.shippingprice}}</label> <br>
            <button type="submit" name="submit" [disabled]="!checkoutForm.valid">Pay</button>
        </form>   
        
        </div>
    </div>
